<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto" *ngIf="authService.isAuthenticated()">
    <li class="nav-item">
      <a routerLink="/todolist" class="navbar-brand nav-link" routerLinkActive="active">To-Do</a>
    </li>
    <li class="nav-item">
      <a routerLink="/groceries" class="navbar-brand nav-link">Groceries</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" >
    <li class="nav-item" *ngIf="!authService.isAuthenticated()">
      <a routerLink="/signin" class="navbar-brand">Login</a>
    </li>
    <li class="nav-item navbar-brand" *ngIf="authService.isAuthenticated()">
      <a class="navbar-brand" style="cursor: pointer;" (click)="onLogout()">Logout</a>
    </li>
  </ul>

  <!--<a routerLink="/home" class="navbar-brand" routerLinkActive="active">Home</a>-->
  <!--<a routerLink="/grocery" class="navbar-brand">Grocery List</a>-->
</nav>

