<!--The content below is only a placeholder and can be replaced.-->


<div class="container main-bg">
  <div class="row">
    <div class="col">
      <h1>
        Amelia's Status
      </h1>
    </div>
  </div>
  <div class="buttons-style">
    <app-timestamp-button [button_name]="'feed'"></app-timestamp-button>
<!--     <app-timestamp-button [button_name]="'poop'"></app-timestamp-button>
    <app-timestamp-button [button_name]="'nap'"></app-timestamp-button> -->
    <app-messages></app-messages>
  </div>

</div>


  


