.main-bg {
  background-color: #C6FFFFFF
}

.main-bg h1 {
  text-align: center;
}

.h1_bg {
  background-color: pink;
}

.border {
  border-width: medium !important;
}

@media(max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
}
