
.feeding-time {
  text-align: center;
  font-size: 1rem;
  /* padding: px; */
  margin: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}